body {
    font-family: Arial, sans-serif;
    background-color: #e9f2fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 50%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h1 {
    color: #000000;
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #cce0ff;
    border-radius: 8px;
    background-color: #f4faff;
    margin-top: 10px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table thead {
    position: sticky;
    top: 0;
    background-color: #0056b3;
    color: #fff;
}

.data-table th, .data-table td {
    padding: 10px;
    border: 1px solid #cce0ff;
    background: #e9f2fa;
    color: #003366;
    text-align: left;
}

.data-table th {
    background-color: #0056b3;
    color: #fff;
}

.actions-column {
    width: 70px;
    text-align: center;
}

.table-item:hover {
    background-color: #d0e7ff;
    cursor: pointer;
}

.form-container form,
.modal-content form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type="text"],
textarea {
    padding: 10px;
    width: 80%;
    margin: 10px 0;
    border: 1px solid #cce0ff;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f4faff;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #0056b3;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

button i {
    margin-right: 5px;
}

button:hover {
    background-color: #003366;
}

.form-container {
    display: flex;
    justify-content: center;
}

/* Dropdown Styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #0056b3;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #003366;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 8px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
