<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Data Catalog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='app_icon.png') }}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Mini Data Catalog</h1>
<!--            <a href="{{ url_for('settings.settings') }}" class="settings-link"><i class="fas fa-cog"></i>Setting </a>-->
        </div>
        {% if error %}
        <div class="error-message">
            <p>{{ error }}</p>
        </div>
        {% else %}
        <div class="table-container">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Table Name</th>
                        <th>Database Name</th>
                        <th class="actions-column">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for table in tables %}
                    <tr class="table-item" data-table-name="{{ table.table_name }}">
                        <td>{{ table.table_name }}</td>
                        <td>{{ table.database_name }}</td>
                        <td class="actions-column">
                            <div class="dropdown">
                                <button class="dropbtn">⋮</button>
                                <div class="dropdown-content">
                                    <a href="#" class="delete-button" data-table-name="{{ table.table_name }}">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <div class="form-container">
            <button id="openAddTableModal">Add Table</button>
        </div>
    </div>

    <div id="addTableModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Add Table</h2>
            <form action="{{ url_for('main.add_table') }}" method="POST">
                <input type="text" name="table_name" placeholder="Table Name" required>
                <input type="text" name="database_name" placeholder="Database Name" required>
                <textarea name="description" placeholder="Description"></textarea>
                <button type="submit">Add Table</button>
            </form>
        </div>
    </div>

    <div id="tableModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Table Details</h2>
            <table class="details-table">
                <tr>
                    <th>Table Name</th>
                    <td id="tableDetailName"></td>
                </tr>
                <tr>
                    <th>Database Name</th>
                    <td id="tableDetailDatabase"></td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td id="tableDetailDescription"></td>
                </tr>
            </table>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
